{% extends "layout.html" %}

{% block content %}

<div class="container ">
    <div class="row h-50 justify-content-bottom align-items-end">

        <form class="col-12" action="search" method="GET">
            <h1 class="mb-5">Learn a language with Music Lyrics</h1>

            <div class="form-group">
                <input name="q" id="contextSearch" class="form-control block mt-2" type="search" placeholder="Pick a topic your lyrics should be about..." aria-label="Search">
                <select name="genre" class="form-control block mt-2">
                    <option value="" selected >Select a Genre if you want</option>
                    {%for g in genre%}
                        <option class="{{g}}">{{g}}</option>
                    {%endfor%}
                </select>

                <button class="btn btn-block mt-2 primary-button" type="submit">Search</button>
            </div>
            
        </form>
    </div>
  </div>

{% block search %}
{% endblock %}

{% endblock %}
